/*****
 ** HANGMAN-GAME COMPONENT
 *****/

.hangman-game {
  position: relative;
  margin: 20px;
  width: 700px;
  height: 400px;
  font-family: Avenir;
  color: #444;
  border: 1px solid #999;
  border-radius: 20px;
}

.hangman__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.hangman__title {
  margin: 0;
  font-size: 32px;
  line-height: 52px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.hangman__categories {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 10px;
  width: 120px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ddd;
}

.hangman__categories__title {
  font-size: 14px;
}

.hangman__categories__nav-link {
  display: block;
  padding-left: 10px;
  line-height: 2em;
}

.hangman__game-board {
  position: absolute;
  top: 63px;
  right: 0;
  bottom: 0;
  left: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hangman__game {
  font-family: 'Courier New', serif;
}

/*****
 ** RULES SCREEN
 *****/

.rules__title {
    font-size: 24px;
    color: #000;
}

/*****
 ** SPRITE-VIEWER COMPONENT
 *****/

.sprite-viewer {
  overflow: hidden;
  width: 64px;
  height: 64px;
  background: transparent url('../images/sprite_hangman.png') no-repeat 64px 0;
}

.sprite-viewer--slide-1 {
  background-position: 0 0;
}

.sprite-viewer--slide-2 {
  background-position: -64px 0;
}

.sprite-viewer--slide-3 {
  background-position: -128px 0;
}

.sprite-viewer--slide-4 {
  background-position: -192px 0;
}

.sprite-viewer--slide-5 {
  background-position: -256px 0;
}

.sprite-viewer--slide-6 {
  background-position: -320px 0;
}

/*****
 ** MODAL-DIALOG COMPONENT
 *****/

.modal-dialog {
  position: fixed;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 200px;
  background-color: #fff;
}

.modal-dialog summary::-webkit-details-marker {
  display: none;
}

.modal-dialog__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
