@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700);

/*****
 ** HANGMAN-GAME COMPONENT
 *****/

.c-hangman-game {
  overflow: hidden;
  position: relative;
  margin: 20px;
  width: 700px;
  height: 400px;
  font-family: Roboto, Avenir, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #fff;
}

.c-hangman-game__board {
  position: absolute;
  top: 83px;
  right: 0;
  bottom: 0;
  left: 155px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.c-hangman-game__head {
  position: absolute;
  top: 0;
  right: 0;
  left: 155px;
  padding-left: 20px;
  padding-right: 20px;
}

.c-hangman-game__title {
  margin: 0;
  font-size: 32px;
  line-height: 52px;
  color: #000;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

/* Check and refactor BEM naming more accurately */

.c-hangman-game__categories {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 140px;
  color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #000;
}

.c-hangman-game__categories-title {
  margin: 20px 0 5px 0;
  padding: 0 15px 0 0;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}

.c-hangman-game__categories-link {
  display: block;
  padding-right: 15px;
  line-height: 2em;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  color: #ccc;
}

.c-hangman-game__categories-link:hover {
  color: #000;
  background-color: #999;
}

.c-hangman-game__categories-link--active {
  display: block;
  padding-right: 15px;
  line-height: 2em;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  color: #000;
  background-color: #eee;
}

/*****
 ** SPRITE-VIEWER COMPONENT
 *****/

.c-sprite-viewer {
  overflow: hidden;
  margin-bottom: 20px;
  width: 100px;
  height: 150px;
  background: transparent url('../images/sprite_hangman.png') no-repeat 0 0;
}

.c-sprite-viewer--slide-1 {
  background-position: -100px 0;
}

.c-sprite-viewer--slide-2 {
  background-position: -200px 0;
}

.c-sprite-viewer--slide-3 {
  background-position: -300px 0;
}

.c-sprite-viewer--slide-4 {
  background-position: -400px 0;
}

.c-sprite-viewer--slide-5 {
  background-position: -500px 0;
}

.c-sprite-viewer--slide-6 {
  background-position: -600px 0;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .c-sprite-viewer {
    background: transparent url('../images/sprite_hangman_2x.png') no-repeat 0 0;
    background-size: 700px 150px;
  }

  .c-sprite-viewer--slide-1 {
    background-position: -100px 0;
  }

  .c-sprite-viewer--slide-2 {
    background-position: -200px 0;
  }

  .c-sprite-viewer--slide-3 {
    background-position: -300px 0;
  }

  .c-sprite-viewer--slide-4 {
    background-position: -400px 0;
  }

  .c-sprite-viewer--slide-5 {
    background-position: -500px 0;
  }

  .c-sprite-viewer--slide-6 {
    background-position: -600px 0;
  }
}

/*****
 ** LETTER-DISPLAY COMPONENT
 *****/

 .c-letter-display {
  margin-bottom: 20px;
  font-weight: 700;
 }

 .c-letter-display__char {
  display: inline-block;
  width: 1.2em;
  text-align: center;
  border-bottom: 1px solid #000;
 }

.c-letter-display__char--space,
.c-letter-display__char--non-alpha {
  border: none;
}

/*****
 ** LETTER-INPUT COMPONENT
 *****/

.c-letter-input {
  position: absolute;
  bottom: 0;
  margin: 0 auto 20px auto;
  width: 505px;
}

.c-letter-input:after {
  content: "";
  display: table;
  clear: both;
}

.c-letter-input__letter {
  display: block;
  float: left;
  padding: 3px;
  margin: 2px;
  width: 1.2em;
  font-family: Roboto, Avenir, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.c-letter-input__letter:hover {
  background-color: rgba(255, 180, 0, 0.3);
}

.c-letter-input__letter--selected,
.c-letter-input__letter--selected:hover {
  background-color: rgb(255, 180, 0);
}

.c-missed-letters__wrapper {
  position: absolute;
  top: 60px;
  left: 176px;
}

.c-missed-letters {
  overflow: hidden;
}

.c-missed-letters .c-letter-display__char {
  margin-right: 10px;
  border: none;
}

.c-missed-letters__label {
  float: left;
  padding-right: 15px;
  font-weight: bold;
}

/*****
 ** MODAL-DIALOG COMPONENT
 *****/

@-webkit-keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}

@-webkit-keyframes slideIn {
  from { top:-174px; } to { top:115px; }
}

@-moz-keyframes slideIn {
  from { top:-174px; } to { top:115px; }
}

@keyframes slideIn {
  from { top:-174px; } to { top:115px; }
}

.c-modal-message {
  position: absolute;
  z-index: 201;
  top: 115px;
  left: 50%;
  margin-left: -150px;
  padding: 20px;
  width: 260px;
  height: 130px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #000;
}

.c-modal-message--fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-out 1;
  -moz-animation: fadeIn ease-out 1;
  animation: fadeIn ease-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.c-modal-message--slide-in {
  top: -174px;
  -webkit-animation: slideIn ease-out 1;
  -moz-animation: slideIn ease-out 1;
  animation: slideIn ease-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;

  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.c-modal-message__title {
  font-size: 1.5em;
  font-weight: bold;
}

.c-modal-message summary::-webkit-details-marker {
  display: none;
}

.c-modal-message__background {
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.c-modal-message__message {
  line-height: 1.6em;
}

/*****
 ** RULES SCREEN
 *****/

.rules__title {
  margin-top: 0;
  font-size: 24px;
  color: #000;
}
