.word-display {
  margin-bottom: 35px;
  font-size: 20px;

  .letter {
    display: inline-block;
    margin-top: 8px;
    width: 1.5em;
    height: 22px;
    line-height: 25px;
    text-align: center;
    border-bottom: 2px solid #312f1a; /* MAKE VARIABLE */

    &.non-letter {
      border-bottom-color: rgba(0, 0, 0, 0.1);
    }
  }
}