<h2 id="title">...</h2>
<!--
{{#each model.categories as |category|}}
<p>{{category.name}}</p>
{{/each}}
<hr>
{{#each model.celebrities as |celebrity|}}
<p>{{celebrity.name}}</p>
{{/each}}
<hr>
{{#each model.movies as |movie|}}
<p>{{movie.name}}</p>
{{/each}}
-->
{{outlet}}