<header class="app-header">
  <h1 class="app-header__title">...</h1>
  <nav class="app-header__nav">
    {{#link-to 'application'}}home{{/link-to}}
  </nav>
</header>

<main role="main" class="app-main">
{{outlet}}
</main>