{{#each alphabet as |letter|}}
  <span class={{if letter.selected 'letter-input__letter letter-input__letter--selected' 'letter-input__letter'}} {{action "letterClick" letter.char}}>{{letter.char}}</span>
{{/each}}
