{{#modal-dialog action="close"}}
  <h1>Sorry&hellip; You Lost</h1>
  <div class="button-container">
    <p>The word was &ldquo;{{word}}&rdquo;.</p>
    <button {{action "closeModal"}}>Play Again</button>
  </div>
{{/modal-dialog}}
