{{#modal-dialog action="close"}}
  <h1>You Win!</h1>
  <div class="button-container">
    <p>Your mother would be proud.</p>
    <button {{action "closeModal"}}>Play Again</button>
  </div>
{{/modal-dialog}}
